In [ ]:
lst=[10,20,100,0,50]
import numpy as np
arr=np.array(lst)
print(arr+20)
print(arr.nbytes)

[ 30  40 120  20  70]
40

In [ ]:
lst=[222,450,78,50,20]
import numpy as np
import sys
arr=np.array(lst)
print(arr.nbytes)
print(sys.getsizeof(lst))
print(arr)

In [ ]:
import numpy as np
a=np.array([1,2,3,4])
b=np.array([[1,2,3,4],[5,6,7,8]])
print(a)
print('_____')
print(b)

In [ ]:
import numpy as np
a=np.array([1,2,3,4])
b=np.array([[1,2,3,4],[5,6,7,8]])
print(a.shape)
print(b.shape)
print(a.ndim)
print(b.ndim)
print(a.size)
print(b.size)
print(a.dtype)
print(b.dtype)
print(a.itemsize)
print(b.itemsize)

In [ ]:
print(np.array([5,6,7,45,12,52]).reshape(2,3))

In [ ]:
print(np.matrix([[1,2],[3,4]]))

In [ ]:
print(np.eye(3))
print(np.zeros((4,3)))
print(np.ones((3,3),dtype=np.float64))

In [ ]:
print(np.arange(1,20,dtype='int32'))

In [ ]:
print(np.arange(1,20,2,dtype='int8'))

In [ ]:
lst_1=[20,30,40]
lst_2=[0,2,4]
import numpy as np
arr=np.array(lst_1+lst_2)
print(arr)

In [ ]:
arr1=[25,56,12,85,34,75]
arr2=[42,3,86,32,856,46]
import numpy as np
arr=np.random.randint(arr1)
print(arr)

In [ ]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a[2][1])

In [ ]:
print(a[:2,:2])
print(a[2,:])

In [ ]:
a=np.array([[1,2],[3,4],[5,6]])
print(a[[0,1],[0]])
print(np.array([a[0,0],a[1,1],a[2,0]]))
print(a[[0,0],[1,1]])

In [ ]:
print(np.array([a[0,1],a[0,1]]))

In [ ]:
print(a)

In [ ]:
b=a>3
print(b)
print(a[b])

In [ ]:
a=np.array([3,4.5,3+5j,0])
import numpy as np
print(a.real)
print(a.imag)

In [ ]:
a = np.array([[1,4,9],[16,25,36]])
print(np.sqrt(a))

In [ ]:
print(a.sum())
print(a.min())
print(a.max(axis=0))
print(a.cumsum(axis=1))
print(a.mean())
print(np.median(a))
print(np.corrcoef(a))
print(np.std(a))

In [ ]:
a=  np.array([1,-4,4])
roots = np.roots(a)
print(roots)

[2. 2.]

In [ ]:
a = np.array([5,6,7,8])
b = np.array([5,6,7,9])
print(np.array_equal(a,b))

In [ ]:
a = np.array([[2,5,7],[4,25,30]])
print(a.sum(axis=1))
print(a.sum())

In [ ]:
a=np.array([[40,35,20],[21,48,70]])
print("The minumum price on day 1 is",a.min())
print('The maximum price on day 2 is',a.max())
print('The profit is',a.max()-a.min())
print('The Session of buying is',np.where(a==a.min()))
print('The session of Selling is',np.where(a==a.max()))

In [ ]:
np.array([1,2,3])+4

In [ ]:
np.arange(2)+4

array([4, 5])

In [ ]:
np.ones((3,4)) + np.arange(4)

In [ ]:
np.arange(3).reshape((3,1))+np.arange(3)

In [ ]:
(np.random.random_integers(1,6,size=(5,5)))

In [ ]:
a=np.array([[4, 6, 2, 1, 5],[1, 5, 2, 1, 6],[1, 2, 3, 3, 3],[5, 2, 1, 1, 6],[6, 3, 1, 3, 6]])
print(a)
b=a.copy().min()
print('the mim value is',b)
c=a.copy().max()
print('the max value is',c)
z=c-b
z_norm=np.array([[4, 6, 2, 1, 5],[1, 5, 2, 1, 6],[1, 2, 3, 3, 3],[5, 2, 1, 1, 6],[6, 3, 1, 3, 6]])/(z)
print(z_norm)

In [ ]:
data_file='data'
import numpy as np

data=np.genfromtxt(data_file,delimiter=',')
print("\nData:\n\n",data)
print("\ntype of data: \n\n",data)
new_record=[[50, 9, 4, 1, 0, 0, 40, 0]]
b=np.corrcoef(new_record) 
print(b)

In [ ]:
data_file='/content/makeSenseOfCensus.csv'
import numpy as np
data=np.genfromtxt(data_file,delimiter=',',skip_header=1)
age=data[:,0]
max_age=age.max()
min_age=age.min()
age_mean=age.mean()
age_std=np.std(age)
print(age_std)

In [ ]:
import pandas as pd

df =pd.DataFrame (
     {
        'name':["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
            ],
         'age':[22,33,23],
          'sex':['male','male','female'] 
     }
    )
df

                       name  age     sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   33    male
2  Bonnell, Miss. Elizabeth   23  female

In [ ]:
new_dictionary={'day':[50,21],'night':[131,2]}
pd.DataFrame(new_dictionary)

   day  night
0   50    131
1   21      2

In [ ]:
pd.Series([1,2,3,4,5])

In [ ]:
pd.Series([30,35,40],index=['2015 sales','2016 sales','2017 sales'],name='product A')

In [ ]:
import pandas as pd

df=pd.read_csv('/content/test.csv')
df
df.shape
df.columns
df.Neighborhood
df['Neighborhood']
df['Neighborhood'][0]

'NAmes'

In [ ]:
df

In [ ]:
df.iloc[0]
df.iloc[:,10]
df.iloc[:3,10]
df.iloc[2:4,10]
df.iloc[[4,5,6],10]
df.iloc[-5:]

In [ ]:
df.loc[12,'Id']

In [ ]:
df.set_index('Id')

In [ ]:
df.Neighborhood.unique()
df.Neighborhood=='Edwards'
df.loc[df.Neighborhood=='Edwards']
df.loc[(df.Neighborhood=='Edwards')|(df.LotFrontage>=50.0)]
df.loc[(df.Neighborhood=='Edwards')&(df.LotArea>=5000)]

In [ ]:
df['visitor']='Everyone'
df['visitor']

In [ ]:
df['index_backwards']=range(len(df),0,-1)
df['index_backwards']

In [ ]:
df.columns

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.LotArea.describe()

In [ ]:
df.LotArea.mean()
df.LotArea.unique()

In [ ]:
df.Neighborhood.unique()

In [ ]:
df.Neighborhood.value_counts()

In [ ]:
df.loc[:,'OverallQual']

In [ ]:
x=df.OverallQual.mean()
df.OverallQual.map(lambda curr_val:curr_val-x)

In [ ]:
def remean_lotarea(row):
  x=df.OverallQual.mean()
  row.OverallQual=row.OverallQual-x
  return row
df.apply(remean_lotarea, axis='columns')

In [ ]:
x=df.OverallQual.mean()
df.OverallQual-x

In [ ]:
df.BldgType+','+df.HouseStyle

In [ ]:
df

In [ ]:
df.groupby(['Neighborhood']).count()
df.groupby('Neighborhood').Neighborhood.count()
df.Neighborhood.value_counts()

In [ ]:
#.min() with .groupby()
df.groupby('Neighborhood').LotArea.min()

In [ ]:
#.apply() with .groupby()
df.groupby('Neighborhood').apply(lambda df:df.YearBuilt.iloc[0])

In [ ]:
#.agg() with .groupby()**
df.groupby('Neighborhood').SalePrice.agg([len,min,max])

In [ ]:
# get the number of building types per year for each neighborhood
b=df.groupby(['Neighborhood','YearBuilt']).BldgType.agg([len])
b

In [ ]:
# convert multi-index to regular-index
b.reset_index()
# sorting
b.sort_values(by='len')
b.sort_values(by='len',ascending=False)
b.sort_index()
b.sort_values(by=['Neighborhood','len'])

In [ ]:
df.SalePrice.dtype
df.index.dtype
df.dtypes

In [ ]:
df.SalePrice.astype('float')

In [ ]:
df[pd.isnull(df.Fence)]
df.Fence.fillna('No Fence')
df.Neighborhood.replace('NoRidge','NorthRidge')
df.rename(columns={'Neighborhood':'Locality'})
df.rename(index={0:'firstEntry',1:'secondEntry'})
df.set_index("Idd")
df.rename_axis('House',axis='rows').rename_axis('Details',axis='columns')

In [ ]:
s1=pd.Series(['a','b'])
s2=pd.Series(['c','d'])
pd.concat([s1,s2],ignore_index=True)

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]])
df2 = pd.DataFrame([['c', 3], ['d', 4]])
pd.concat([df1, df2],ignore_index=True)
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']])
pd.concat([df1,df3],sort=False,ignore_index=True)
pd.concat([df1, df3], join="inner",ignore_index=True)

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],'value': [1, 2, 3, 5]})
df1
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],'value': [5, 6, 7, 8]})
df2
df1.merge(df2, left_on='lkey', right_on='rkey')

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
random_num_array=np.random.rand(10,4)
random_num_array
data=pd.DataFrame(random_num_array,columns=['A','B','C','D'])
data

In [ ]:
data.plot.bar(figsize=(16,9))

In [ ]:
data.plot.bar(stacked=True ,figsize=(16,9))

In [ ]:
data.plot.barh(figsize=(16,9))

In [ ]:
#color change palette
sns.set_palette('magma')
data.plot.barh(figsize=(16,9),stacked=True)

In [ ]:
sns.set_palette('muted')
data.plot.area(figsize=(16,9))

In [ ]:
data.plot.area(figsize=(16,9),stacked=True)

In [ ]:
data.diff()

In [ ]:
data.diff().plot.box(vert=False,
                     color={'medians':'lightblue',
                            'boxes':'blue',
                            'caps':'darkblue',});

In [ ]:
#Rolling Mean
rand_values_vector = np.random.rand(100, 1)
data_two = pd.DataFrame(rand_values_vector, columns=['value']).reset_index()
data_two
data_two['value'].plot(figsize=(16,9))
data_two['value'].rolling(10).mean().plot(figsize=(16,9))

In [ ]:
data.plot.kde(figsize=(16,9));

In [ ]:
#pie chart
data.plot.pie(subplots=True,figsize=(8,4))

In [ ]:
#line graphs
data.plot(subplots=True,layout=(2,2),figsize=(20,10))

In [ ]:
import pandas as pd
import numpy as np
import sklearn
dff=pd.read_csv('/content/fifa19.csv',index_col=0)
dff.head()
dff.shape
dff.info()

In [ ]:
dff.drop(columns=['Photo','Flag','ID','Real Face'])

In [ ]:
dff.head()

In [ ]:
dff.isnull().sum()
round(dff.isnull().sum()/dff.shape[0]*100)
dff.head()
drop_cols=[col_name for col_name in dff.columns if dff[col_name].isnull().sum()/dff.shape[0]*100>10.0]
drop_cols
dff.drop(columns=drop_cols,inplace=True)
round(dff.isnull().sum()/dff.shape[0]*100)
dff.head()

In [ ]:
dff['Release Clause'].head()
dff['Release Clause'].dtypes

In [ ]:
def str_to_int(rcn):
  try:
    return float (rcn[1:-1])*1000000
  except:
    return np.nan
dff['Release Clause']=dff['Release Clause'].apply(str_to_int)
dff['Release Clause'].dtypes
dff['Release Clause'].isnull().sum()

NameError: ignored

In [ ]:
extracted_dff_cols = ['Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes','Release Clause']
extracted_dff=dff[extracted_dff_cols]
extracted_dff.head()
extracted_dff.isnull().sum()
for col in extracted_dff_cols:
  extracted_dff[col]=extracted_dff[col].fillna(extracted_dff[col].median())
extracted_dff.isnull().sum()

NameError: ignored

In [ ]:
x=extracted_dff_drop(['Release Clause'],axis=1)
x.shape

In [ ]:
dff['Total_skill'] = dff['Crossing']+ dff['Finishing']+ dff['HeadingAccuracy']+dff ['ShortPassing']+dff ['Volleys']+dff['Dribbling']+dff ['Curve']+dff ['FKAccuracy']+dff ['LongPassing']+dff ['BallControl']+dff ['Acceleration']+dff ['SprintSpeed']+ dff['Agility']+dff ['Reactions']+dff ['Balance']+dff['ShotPower']+dff['Jumping']+dff ['Stamina']+ dff['Strength']+dff ['LongShots']+dff ['Aggression']+ dff['Interceptions']+ dff['Positioning']+dff ['Vision']+dff ['Penalties']+dff ['Composure']+dff ['Marking']+dff ['StandingTackle']+ dff['SlidingTackle']+ dff['GKDiving']+dff ['GKHandling']+ dff['GKKicking']+dff ['GKPositioning']+ dff['GKReflexes']
dff.head()

In [ ]:
dff['Joined'].dtypes
dff['Joined'].head()
import datetime
def data_str_to_datetime_1(date_str):
  try:
    return datetime.datetime.strptime(data_str, '%b %d,%y')
  except:
    return np.nan
dff['Joined']=dff['Joined'].apply(data_str_to_datetime_1)
dff['Joined'].head()

In [ ]:
dff['Contract Valid Until'].dtypes
dff['Contract Valid Until'].value_counts()

In [ ]:
def data_str_to_datetime_2(date_str):
    try:
        if date_str.find(',') != -1:
            curr_date = datetime.datetime.strptime(date_str, '%b %d, %Y')
            return curr_date.strftime("%Y")
        elif date_str.find(',') == -1:
            curr_date = datetime.datetime.strptime(date_str, '%Y')
            return curr_date.strftime("%Y")
    except:
        return np.nan
dff['Contract Valid Until'] = dff['Contract Valid Until'].apply(data_str_to_datetime_2)
dff['Contract Valid Until'].dtypes
dff['Contract Valid Until'].value_counts()

In [ ]:
dff.head()
dff.Club.isnull().sum()
dff.Club.fillna('Unknown',inplace=True)
dff.Club.isnull().sum()

from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
label_encoder.fit(dff['Club'])
dff['Club']=label_encoder.transform(dff['Club'])
dff.head()

In [ ]:
dff['Position'].value_counts()
dff['Position'].isnull().sum()
dff['Position'].fillna('Unknown',inplace=True)
dff['Position'].isnull().sum()
len(dff['Position'].value_counts())
dff.shape

In [ ]:
encoded_columns=pd.get_dummies(dff.Position)
encoded_columns.shape
dff=dff.join(encoded_columns).drop('Position',axis=1)
dff.head()
dff.shape

In [ ]:
dff

           ID                Name  Age  ... RWB ST Unknown
0      158023            L. Messi   31  ...   0  0       0
1       20801   Cristiano Ronaldo   33  ...   0  1       0
2      190871           Neymar Jr   26  ...   0  0       0
3      193080              De Gea   27  ...   0  0       0
4      192985        K. De Bruyne   27  ...   0  0       0
...       ...                 ...  ...  ...  .. ..     ...
18202  238813        J. Lundstram   19  ...   0  0       0
18203  243165  N. Christoffersson   19  ...   0  1       0
18204  241638           B. Worman   16  ...   0  1       0
18205  246268      D. Walker-Rice   17  ...   0  0       0
18206  246269           G. Nugent   16  ...   0  0       0

[18207 rows x 89 columns]

In [ ]:
# train & test split
from sklearn.model_selection import  train_test_split
  x-train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
# import the train_test_split from sklearn
from sklearn.model_selection import train_test_split

# do a 80% train - 20% test split
x_train, x_test, y_train, y_test = train_test_split( x , y , test_size = 0.2, random_state = 0)